/* navbar */
.bg-body-tertiary {
  background-color: lightgray !important;
}

nav {
  .navbar-brand {
    padding-left: 12px;
  }

  .form-control:focus,
  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }

  .btn {
    border-radius: 50%;
    height: 100%;
  }
}

/* main-search */
.full-screen-img {
  object-fit: cover;
  width: 100%;
  height: calc(100vh - 6em);
  opacity: 0.5;
}

.section-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: slideUp 0.6s ease-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
}

.form-container {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;

  .desc {
    padding: 10px 30px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50px;
    color: white;
    font-weight: bold;
  }

  .input-size {
    width: 50em;
    height: 60px;
    border-radius: 40px;
    padding: 20px;
  }

  #record-button {
    position: absolute;
    right: 6.5em;
    border-radius: 50%;
  }

  input:focus {
    outline: none;
    box-shadow: none;
  }
}

@media (max-width: 1024px) {
  .form-container {
    .desc {
      padding: 10px 24px;
      font-size: 12px;
      font-weight: bold;
    }

    .input-size {
      width: 36em;
      height: 50px;
    }
  }

  .full-screen-img {
    height: 50%;
  }
}

@media (max-width: 768px) {
  #navbarTogglerDemo01 {
    margin-top: 12px;
  }

  .form-container {
    .desc {
      padding: 8px 16px;
      font-size: 10px;
      font-weight: bold;
    }

    .input-size {
      padding: 0 12px;
      width: 16em;
      height: 36px;
    }

    #record-button {
      right: 6em;
    }
  }

  .full-screen-img {
    height: 50%;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
}
